<% provide(:title, "Log in") %>
<div class="container">
  <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
    <div class="panel panel-info" >
      <div class="panel-heading">
        <div class="panel-title">Sign In</div>

      <div style="padding-top:30px" class="panel-body" >

        <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>

        <%= form_for(:session, url: login_path , :html=>{:id=>'login'} ) do |f|   %>
        <p id="notice"><%= notice %></p>

        <%= f.label :email %>
        <%= f.text_field :email, class: 'form-control' ,  :pattern => '[^@]+@[^@]+\.[a-zA-Z]{2,6}' %>

  <br/>      <%= f.label :password %>
        <%= f.password_field :password, class: 'form-control' %>
        <%= link_to "(forgot password)?", new_password_reset_path %>

        <%= f.label :remember_me, class: "checkbox inline" do %>
            <%= f.check_box :remember_me %>
            <span>Remember me on this computer</span>
        <% end %>


        <%= f.submit "Log in", class: "btn btn-primary" %>
    <% end %>


  </div>
</div>
  </div>
</div>
</div>


